.bar {
  &__ingredients {
    display: flex;
  }

  &__ingredientsList {
    width: 25%;
  }
}

.ingredientsList {
  &__getCocktails {
    display: block;
    margin-top: calc(var(--base-line) * 2);
    padding: var(--base-line);
    background-color: var(--primary);
    color: #fff;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      color: #ccc;
    }
  }
}
